<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <!-- LOGIN and PASSWORD for ADMIN -->
    </div>
    
    <div style="display: none;">
        <nav>
            <!-- TOOLBAR FOR ADMIN -->
        </nav>
    
        <div>
            <!-- FOR ADDING NEWS -->
        </div>
        <div>
            <!-- FOR CHANGING NEWS -->
        </div>
        <div>
            <!-- FOR DELETING NEWS -->
        </div>
    
        <div>
            <!-- FOR ADDING govDOCUMENTS -->
        </div>
        <div>
            <!-- FOR CHANGING govDOCUMENTS -->
        </div>
        <div>
            <!-- FOR DELETING govDOCUMENTS -->
        </div>
    </div>

</body>
</html>