<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>РГП "ИТЦ ЦИК РК"</title>
    <link rel="icon" href="/source/favicon.ico">
    <!-- Bootstrap CSS -->
    <link rel="preload" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" as="style" crossorigin="anonymous">
    <link rel="preload" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" as="script" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" 
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/rgp-styles.css">
    <style>
        body {
            display: none;
        }
    </style>
        
</head>

<body>
    <div class="scrollTop" onclick="scrollToTop()" style="z-index: 99" id="scrollTop"></div>

    <!-- Логотип и выбор языка -->
    <header class="bg-light py-2">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-3 col-md-3 d-flex flex-row align-items-center">
                    <a href="/"><img width="75" src="/source/logo.png" alt="Логотип"></a>
                    <a class="mx-1" href="/"><img width="75" src="/source/kzmap.png" alt="Логотип"></a>
                </div>
                <div class="col-6 col-md-6 text-center">
                    <h5 id="headerTitle"></h5>
                </div>
                <div class="col-3 col-md-3 text-center">
                    <button class="btn" id="kazButton">ҚАЗ</button>
                    <button class="btn" id="rusButton">РУС</button>
                </div>
            </div>
        </div>
    </header>

    <!-- Навигационное меню и переключатель -->
    <nav class="navbar navbar-expand-lg navbar-light bg-info sticky-top py-0">
        <div class="container">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            
            <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link px-2" href="/about" id="aboutUsLink"></a></li>
                    <li class="nav-item"><a class="nav-link px-2" href="/news" id="newsLink"></a></li>
                    <li class="nav-item"><a class="nav-link px-2" href="/systems" id="infoSystemsLink"></a></li>
                    <li class="nav-item"><a class="nav-link px-2" href="/procurement" id="procurementLink"></a></li>
                    <li class="nav-item"><a class="nav-link px-2" href="/anticorruption" id="antiCorruptionLink"></a></li>
                    <li class="nav-item"><a class="nav-link px-2" href="/vacancy" id="vacanciesLink"></a></li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Карусель новостей -->
    <!-- <div class="container-fluid bg-white py-3">
        <div id="carousel" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <a href="#">
                        <img src="/source/news1.jpg" class="d-block w-100" alt="news1">
                    </a>
                    <div class="carousel-caption d-md-block">
                        <h5>Новостной заголовок 1</h5>
                        <p>Краткое описание новости</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <a href="#">
                        <img src="/source/news2.jpeg" class="d-block w-100" alt="news2">
                    </a>
                    <div class="carousel-caption d-md-block">
                        <h5>Новостной заголовок 2</h5>
                        <p>Краткое описание новости</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <a href="#">
                        <img src="/source/news3.jpg" class="d-block w-100" alt="news3">
                    </a>
                    <div class="carousel-caption d-md-block">
                        <h5>Новостной заголовок 3</h5>
                        <p>Краткое описание новости</p>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carousel" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div> -->

    <hr>
    
    <!-- Устав -->
    <div class="container-fluid px-0 bg-white">
        <div class="p-5">
            <h4 class="text-center" id="charterTitle">Устав РГП «ИТЦ ЦИК РК»</h4>
            <div class="row py-3" style="padding: 0 10% 0 10%;">
                <!-- Маркеры -->
                <div class="col-md-4 mb-2">
                    <div class="list-group" id="list-tab" role="tablist">
                        <a class="list-group-item list-group-item-action active" id="list-item-1" data-bs-toggle="list" href="#description-1" role="tab" aria-controls="description-1"></a>
                        <a class="list-group-item list-group-item-action" id="list-item-2" data-bs-toggle="list" href="#description-2" role="tab" aria-controls="description-2"></a>
                        <a class="list-group-item list-group-item-action" id="list-item-3" data-bs-toggle="list" href="#description-3" role="tab" aria-controls="description-3"></a>
                        <a class="list-group-item list-group-item-action" id="list-item-4" data-bs-toggle="list" href="#description-4" role="tab" aria-controls="description-4"></a>
                        <a class="list-group-item list-group-item-action" id="list-item-5" data-bs-toggle="list" href="#description-5" role="tab" aria-controls="description-5"></a>
                        <a class="list-group-item list-group-item-action" id="list-item-6" data-bs-toggle="list" href="#description-6" role="tab" aria-controls="description-6"></a>
                        <a class="list-group-item list-group-item-action" id="list-item-7" data-bs-toggle="list" href="#description-7" role="tab" aria-controls="description-7"></a>
                        <a class="list-group-item list-group-item-action" id="list-item-8" data-bs-toggle="list" href="#description-8" role="tab" aria-controls="description-8"></a>
                        <a class="list-group-item list-group-item-action" id="list-item-9" data-bs-toggle="list" href="#description-9" role="tab" aria-controls="description-9"></a>
                        <a class="list-group-item list-group-item-action" id="list-item-10" data-bs-toggle="list" href="#description-10" role="tab" aria-controls="description-10"></a>
                        <a class="list-group-item list-group-item-action" id="list-item-11" data-bs-toggle="list" href="#description-11" role="tab" aria-controls="description-11"></a>
                        <a class="list-group-item list-group-item-action" id="list-item-12" data-bs-toggle="list" href="#description-12" role="tab" aria-controls="description-12"></a>
                        <a class="list-group-item list-group-item-action" id="list-item-13" data-bs-toggle="list" href="#description-13" role="tab" aria-controls="description-13"></a>
                    </div>
                </div>
                <!-- Описание -->
                <div class="col-md-8">
                    <div class="tab-content" id="nav-tabContent">
                        <div class="tab-pane fade show active" id="description-1" role="tabpanel" aria-labelledby="list-item-1">
                            <p></p>
                        </div>
                        <div class="tab-pane fade" id="description-2" role="tabpanel" aria-labelledby="list-item-2">
                            <p></p>
                        </div>
                        <div class="tab-pane fade" id="description-3" role="tabpanel" aria-labelledby="list-item-3">
                            <p></p>
                        </div>
                        <div class="tab-pane fade" id="description-4" role="tabpanel" aria-labelledby="list-item-4">
                            <p></p>
                        </div>
                        <div class="tab-pane fade" id="description-5" role="tabpanel" aria-labelledby="list-item-5">
                            <p></p>
                        </div>
                        <div class="tab-pane fade" id="description-6" role="tabpanel" aria-labelledby="list-item-6">
                            <p></p>
                        </div>
                        <div class="tab-pane fade" id="description-7" role="tabpanel" aria-labelledby="list-item-7">
                            <p></p>
                        </div>
                        <div class="tab-pane fade" id="description-8" role="tabpanel" aria-labelledby="list-item-8">
                            <p></p>
                        </div>
                        <div class="tab-pane fade" id="description-9" role="tabpanel" aria-labelledby="list-item-9">
                            <p></p>
                        </div>
                        <div class="tab-pane fade" id="description-10" role="tabpanel" aria-labelledby="list-item-10">
                            <p></p>
                        </div>
                        <div class="tab-pane fade" id="description-11" role="tabpanel" aria-labelledby="list-item-11">
                            <p></p>
                        </div>
                        <div class="tab-pane fade" id="description-12" role="tabpanel" aria-labelledby="list-item-12">
                            <p></p>
                        </div>
                        <div class="tab-pane fade" id="description-13" role="tabpanel" aria-labelledby="list-item-13">
                            <p></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>
    
    <!-- Спонсоры -->
    <div class="container-fluid px-0">
        <div class="p-5">
            <div class="d-flex flex-row logos">
                <img width="10%" src="/source/bitrix-logo.png" alt="спонсор1">
                <img width="10%" src="/source/java-logo.png" alt="спонсор2">
                <img width="10%" src="/source/mysql - logo.png" alt="спонсор3">
                <img width="10%" src="/source/oracle - logo.png" alt="спонсор4">
                <img width="10%" src="/source/delphi - logo.png" alt="спонсор5">
            </div>
        </div>
    </div>
    <hr>

    <!-- Footer, Адрес, Карта -->
    <footer class="bg-dark text-white pt-5 pb-4">
        <div class="container">
            <div class="row">
                <div class="col-md-5">
                    <h5 id="footerContacts"></h5>
                    <ul class="list-unstyled">
                        <li id="FooterPhone"></li>
                        <li id="FooterAddress"></li>
                    </ul>
                    <h5 id="footerAbout"></h5>
                    <p id="footerTitle"></p>
                </div>
                
                <div class="col-md-2"></div>

                <div class="col-md-5">
                    <h5>Yandex Maps</h5>
                    <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Aff6b00f3562af8b9deb40dfba6213e556e1831ebd428a56aef751a1f152e45f1&amp;width=100%&amp;height=80%&amp;lang=en_FR&amp;scroll=true"></script>                </div>
            </div>
            <div class="row mt-3">
                <div class="col-md-12 text-center">
                    <p id="footerRights"></p>
                </div>
            </div>
        </div>
    </footer>
    
    <!-- Bootstrap JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" 
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

    <script src="/js/translations.js"></script>
    <script src="/js/carousel.js"></script>
    <script src="/js/scripts.js"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            document.body.style.display = "block";
        });
    </script>
        
</body>
</html>
